body {
  height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}

h1 {
  font-family: 'Trebuchet MS';
  font-size: 45px;
}

h2 {
  font-family: 'Trebuchet MS';
  font-size: 32px;
}

h3 {
  font-family: 'Trebuchet MS';
  font-size: 32px;
}

h4 {
  font-family: 'Trebuchet MS';
  font-size: 32px;
}

h5 {
  font-family: 'Trebuchet MS';
  font-size: 32px;
}

h6 {
  font-family: 'Trebuchet MS';
  font-size: 32px;
}

h7 {
  font-family: 'Trebuchet MS';
  font-size: 32px;
}


