.page-title {
 font-size: 50px;
 text-align: center;
}
p {
  font-size: 20px;
  border: 1px solid #000;
  text-align: left;
  padding: 30px;
}
h2 {
 font-family: "Palatino Linotype", Palatino, serif;
 font-size: 32px;
 text-align: left;
 font-weight: normal;
 font-style: italic, bold;
}
h3 {
 font-family: "Palatino Linotype", Palatino, serif;
 font-size: 32px;
 text-align: left;
 font-weight: normal;
 font-style: italic, bold;
}
h4 {
 font-family: "Palatino Linotype", Palatino, serif;
 font-size: 32px;
 text-align: left;
 font-weight: normal;
 font-style: italic, bold;
}
h5 {
 font-family: "Palatino Linotype", Palatino, serif;
 font-size: 32px;
 text-align: left;
 font-weight: normal;
 font-style: italic, bold;
}
h6 {
 font-family: "Palatino Linotype", Palatino, serif;
 font-size: 32px;
 text-align: left;
 font-weight: normal;
 font-style: italic, bold;
}
h7 {
 font-family: "Palatino Linotype", Palatino, serif;
 font-size: 32px;
 text-align: left;
 font-weight: normal;
 font-style: italic, bold;
}


